<%= render 'shared/errors', obj:@chef %>
<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <%= form_for(@chef, html: { multipart: true }) do |f|%>
        <%= f.label :chefname %>
        <%= f.text_field :chefname %>
        
        <%= f.label :email %>
        <%= f.email_field :email %>
        
        <%= f.label :password %>
        <%= f.password_field :password%>
        
       <span class="picture">
            <%= f.file_field :picture, accept: 'image/jgep, image/gif, image/png, image/jpg' %>
       </span>        
   
        <%= f.submit(@chef.new_record? ? 'Register' : 'Edit Profile', class: "btn btn-success")%>
        
        <% end %>     
    </div>
</div>

<script type="text/javascript">
$('chef_picture').bind(change, function(){
    size_in_megabytes = this.files[0].size/1024/1024
    
    if(size_in_megabytes > 5){
        alert("Maimum file size is 5 MB, please choose a smaller file");
    }
});    
</script>
