 
<div class="row">
     <div class="pull-right">
         <%= link_to new_recipe_path(@recipe)%>
    </div>           
    <% @reviews.each do |review| if @reviews%>
    <div class="col-md-2">
                <section class="chef_info center">
                   <%= link_to review.chef.chefname, chef_path(reciew.chef)%>
                <h5>Chef name: <%= review.chef.chefname%></h5>
                </section>
        
    </div>
    <div class="col-lg-6 well">
                 <p><strong>Title: <%= review.title %></strong></p>
                 <p><%= review.body %></p>
    </div>
            <% end %>
</div>